:root {
    --secondary-color: #56c6fd;

    --main-form-background: #161616;
    --main-box-shadow: -1px -1px 3px rgb(99, 99, 98);
    --noOffset-box-shadow: 0 0 25px rgb(51, 51, 50);
}

body {
    background-color: #1d1c1c;
    color: white;
    font-family: 'Calleo-Trial', sans-serif;

    /* background-image: url(./background/svgBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/background.jpg);
    background-size: cover;
    opacity: 0.15;
}

/** Links */
a:link {
    color: #56c6fd;
}

a:visited {
    color: #800080;
}

a:hover {
    color: #2b8ec0;
}
/**  */

.hidden {
    display: none;
}

/***--------------------------------------------
 **               HEADER
 **---------------------------------------------**/

#header {
    width: 80%
}

.htmlSyntax {
    color: #4c4848;
    font-family: 'Muttiara', sans-serif;
}

#opening {
    position: relative;
    left: 4%;
    top: 2%;
}

#title {
    position: relative;
    left: 5%;
    top: 8%;

    height: 100%;
    
    font-size: 72px;
    font-family: 'LT Museum', sans-serif;

    margin: 0px;
}

#h1closing {
    position: absolute;
    left: 31%;
    top: 23%;
}

/** Skills */
#skills {
    position: relative;
    left: 10%;
    top: 40%;
}

#skills > p {
    margin: 0px;
}

#skillsParagraph {
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'LT Museum', sans-serif;
}
/**  */

#closing {
    position: relative;
    left: 4%;
    top: 55%;
}

/***--------------------------------------------
 **               ABOUT ME
 **---------------------------------------------**/

#aboutMe {
    position: absolute;
    left: 55%;
    top: 100px;

    width: 35%;

    text-align: center;
}

/**--------------------------------------------
 **               MAIN CONTAINER
 **---------------------------------------------**/

#mainContainer {
    display: flex;
    justify-content: center;
}

/**--------------------------------------------
 **               MY COLUMN
 **---------------------------------------------**/

#myColumn {
    position: absolute;
    width: 15%;
    height: 495px;

    left: 5%;

    background-color: var(--main-form-background);

    border-radius: 30px;
    box-shadow: var(--noOffset-box-shadow);

    padding: 10px;
    /* margin: 0px 0px 0px 25px; */

    display: inline-block;

    transition: all 0.3s ease;
}

#myColumn:hover {
    box-shadow: 0px 0px 3px rgb(110, 112, 110);
}

#LFLogo {
    width: 150px;
    height: 150px;
    margin: 23% 0% 0% 23%;
}

#name {
    text-align: center;
}

/** Contact */
.contact {
    position: relative;
    left: 15px;
    height: 70px;

    display: block;
}

.contactIcon {
    position: relative;
    width: 50px;
    height: 50px;

    margin-top: 5%;
}

.contactTitle {
    font-size: 20px;

    margin: 10px 0px 0px 0px;

    vertical-align: top;
    display: inline-block;
}

.contactValue {
    position: relative;
    width: fit-content;

    left: 57px;
    top: -30px;

    font-size: 15px;

    margin: 0px;

    display: block;
}
/**  */

#emailCopied {
    position: relative;
    left: 90%;
    bottom: 300px;
    z-index: 1; /* show in front of the "What I do" form since the last element in the html will be shown first by default*/
}

/** Email Copied animation */
@keyframes emailCopiedAnimation {
    0% {opacity: 0; bottom: 150px;}
    25% {opacity: 1}
    50% {bottom: 200px;}
    75% {opacity: 1;}
    100% {opacity: 0; bottom: 200px;}
}

.emailCopied {    
    transform: rotate(-12deg);
    animation-name: emailCopiedAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
/**  */

/**--------------------------------------------
 **               WHAT I DO
 **---------------------------------------------**/

#whatIDo {
    position: absolute;
    width: 42%;

    /* left: 50%; */

    background-color: var(--main-form-background);

    border-radius: 25px;
    box-shadow: var(--noOffset-box-shadow);

    padding: 30px;
    margin: auto;

    text-align: center;

    transition: all 0.3s ease;
}

#whatIDo:hover {
    box-shadow: 0px 0px 3px rgb(110, 112, 110);
}

#whatIDo > h1 {
    margin: 0px 0px 20px 0px;
}

/** Cells */
.cell {
    position: relative;
    width: 40%;
    height: 100px;
    
    background-color: rgb(20, 20, 20);
    
    font-size: 13px;

    border-radius: 15px;
    padding: 5px;
    margin: 10px;

    display: inline-block;
    vertical-align: top;
    box-shadow: -1px -1px 3px -1px rgb(83, 83, 83);

    text-align: left;
}

.cellIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5%;
    margin: 5px;
    display: inline;
}

.cellTitle {
    font-size: 20px;
    margin: 5px 0px 0px 40px;
    display: inline-block;
}

.cellP {
    margin: 5px;
}
/**  */

/**--------------------------------------------
 **               PROJECTS
 **---------------------------------------------**/

#projects {
    position: absolute;
    width: 15%;
    height: 495px;

    /* left: 75%; */
    right: 5%;

    background-color: var(--main-form-background);

    padding: 10px;
    /* margin: 0px 25px 0px 0px; */

    border-radius: 25px;
    box-shadow: var(--noOffset-box-shadow);

    transition: all 0.3s ease;
}

#projects:hover {
    box-shadow: 0px 0px 3px rgb(110, 112, 110);
}

.projectEntry {
    width: fit-content;

    margin-top: 10px;

    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 165, 0), rgb(28, 106, 170), yellow);
    border-image-slice: 1;

    display: block;
}

/** Remove underline */
.projectEntry:link {
    text-decoration: none;
}

.projectEntry:visited {
    text-decoration: none;
}

.projectEntry:hover {
    text-decoration: none;
}
/**  */

/* either use media or clamp to make it work on android */
/* clamp version would be width: clamp(200px, 50%, 600px) | (minimum 200px, preferred 50%, max 600px)*/
@media (max-width: 600px) {
    /* basically add here the styles that will change up to 600px */
    /* example: */

    /* #LFLogo {
        width: 90px; // instead of 150
        height: 90px;
    } */
}
